.colorpicker {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 10;

	display: flex;

	width: 100%;
	height: 100%;

	visibility: hidden;

	&__container {
		// the below is needed for positioning of Pickr
		width: 1px;
		height: 1px;
		margin: auto 50% 2em 50%;
	}
}
